.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.product {
  border: 1px solid #8f9092;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.2rem;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
}
.product > img {
  width: 80%;
}
.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*Boton*/

.btn-cargar-mas {
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  cursor: pointer;
  width: 150px;
  height: 60px;
  background-image: linear-gradient(to top, #d8d9db 0%, #fff 80%, #fdfdfd 100%);
  border-radius: 30px;
  border: 1px solid #8f9092;
  transition: all 0.2s ease;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: #606060;
  text-shadow: 0 1px #fff;
}

.btn-cargar-mas:hover {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 3px 3px #cecfd1;
}

.btn-cargar-mas:active {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}

.btn-cargar-mas:focus {
  box-shadow: 0 4px 3px 1px #fcfcfc, 0 6px 8px #d6d7d9, 0 -4px 4px #cecfd1,
    0 -6px 4px #fefefe, inset 0 0 5px 3px #999, inset 0 0 30px #aaa;
}
.desactivado {
  cursor: not-allowed;
  background-image: linear-gradient(to top, #000 0%, #fff 80%, #fdfdfd 100%);
}
/**/
.loading {
  width: 80px;
  vertical-align: middle;
  animation: cargando 3s infinite linear;
}
.load-text {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mostrar-error {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@keyframes cargando {
  0% {
    rotate: 0deg;
    scale: 0.4;
  }
  100% {
    rotate: 360deg;
    scale: 1;
  }
}
@media (max-width: 700px) {
  .product-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 500px) {
  .product-container {
    grid-template-columns: 1fr;
  }
  .product > img {
    width: 100%;
  }
}
